---
import Default from '@astrojs/starlight/components/Sidebar.astro';
import TopologyCanvas from './TopologyCanvas.astro';

// Import original props
const { ...props } = Astro.props;
---

<div class="starlight-sidebar-original">
  <Default {...props} />
</div>

<!-- 左侧大纲下方的拓扑星图 -->
<TopologyCanvas />
